p {
  margin-bottom: 10px;
}

/*Start Map CSS*/
body {
  background-color: #333;
  color: #fff;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 300;
  font-family: 'Quattrocento Sans', sans-serif;
  margin: 0 auto;
  width: 750px;
}

#print-paragraphs {
  margin-top: 20px;
  margin-bottom: 40px;
}

#submit {
  background-color: #C43512;
  border: none;
  border-radius: 5px 5px 5px 5px;
  color: #F2F2F2;
  font-size: 1em;
  margin-top: 1em;
  padding: 2px;
  width: 75px;
}